<div class="main">
  <div class="firstdiv">
    <div class="elements">
      <p class="textstyling margin_zero" style="color: green">Add a comment</p>
      <p class="textstyling" style="font-weight: bold">Blog Name</p>
      <input type="text" class="textbox textstyling margin_zero">
      <p class="textstyling" style="font-weight: bold;margin-top: 5px">Blog Comment</p>
      <!--<input type="text" class="textarea margin_zero">-->
      <textarea class="textarea textstyling" rows="4" cols="50"></textarea>
      <br/>
      <input type="submit" value="Add Comment" class="button margin_zero" style="margin-top: 5px">
        <div class="panelheader margin_top">
          <div class="textstyling" style="margin:12px">java</div>
        </div>
        <div class="panelbody">
          <div class="textstyling" style="margin: 12px;color:blue;font-weight: bold">this first comment</div>
        </div>
        <div class="panelheader margin_top">
          <div class="textstyling" style="margin:12px">Angular</div>
        </div>
        <div class="panelbody">
          <div class="textstyling" style="margin:12px;color:blue;font-weight: bold">this is my second comment</div>
        </div>
    </div>
  </div>
  <div class="seconddiv">
    <div class="box margin_box" style="margin-top: 50px"> 
         <div id="box_content" class="textstyling">
     <p>New Feature of java 1.8</p>
      <p class="margin_zero" style="color: blue">Line 1</p>
      <p class="margin_zero" style="color: blue">Line 2</p>
      <p class="margin_zero" style="color: blue">Line 3 </p>
      <p class="margin_zero" style="color: blue">Line 4</p>
      </div>
      
    </div>
    <div class="box margin_box" style="margin-top: 85px">
         <div id="box_content" class="textstyling">
     <p>AngularJS vs AngularJS2 vs AngularJS4</p>
      <p class="margin_zero" style="color: blue">Line 1</p>
      <p class="margin_zero" style="color: blue">Line 2</p>
      <p class="margin_zero" style="color: blue">Line 3 </p>
      <p class="margin_zero" style="color: blue">Line 4</p>
      <p class="margin_zero" style="color: blue">Line 5</p>
      </div>
    </div>
  </div>
</div>
